# pixi environments
.pixi/*
!.pixi/config.toml
*.json
/src/models/
/src/**/out*
/data/*
/src/exps_performance/**/tb/
/src/exps_performance/**/run*
/src/exps_performance/Data*
/src/exps_performance/Open/
/NPHardEval/
/**/tmp/

/src/exps_pret_corr/data/
/src/exps_pret_corr/faiss_index/
/src/exps_code_analysis/
.env