repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        files: ^(src|tests)/
        additional_dependencies: [pandas-stubs]

  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest fast
        entry: uv run --frozen --no-sync pytest -m "not slow" -n 2
        language: system
        pass_filenames: false
        env:
          UV_CACHE_DIR: /nlpgpu/data/terry/UV_CACHE
          XDG_CACHE_HOME: /nlpgpu/data/terry/UV_CACHE